@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1E1E1E;
  color: white;
}

@font-face {
  font-family: 'Druk Trial';
  src: url('/fonts/druk-trial/Druk-Bold-Trial.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.slider::-webkit-slider-thumb {
  @apply appearance-none h-4 w-4 bg-green-600 rounded-full cursor-pointer;
}

.slider::-moz-range-thumb {
  @apply h-4 w-4 bg-green-600 rounded-full cursor-pointer;
}

.slider {
  @apply w-full h-2 bg-green-200 rounded-lg appearance-none cursor-pointer;
}